@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: #2F303A;
  font-family: Poppins, sans-serif;
  font-size: 1.2rem;
  color: white;
  min-height: 100vh;
}

.full-height-grow {
  display: flex;
  flex-direction: column;
}
.main-section {
  display: inline-block;
  height: inherit;
  text-align: center;
  margin: 3rem;
  width: inherit;
  justify-content: center;
  align-items: center;
  
}

.btn:hover {
  background-color: #2180d8;
}


.container {
  max-width: 640px;
  margin: 0 auto;
  padding: 0 40px;
  flex-grow: 1;
}

.btn:focus {
  background-color: #2796ff;
}
.main-form {
  background-color: #202027;
  padding: 2rem 4rem;
  border-radius: 20px;
}

.input-group {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}
.input-group:last-child {
  margin-bottom: 0;
}

.input-group label {
  margin-bottom: .5rem;
  outline: none;
  background: none;
  border: 1px solid #2E3852;
  font-size: 1em;
  padding: .5em;
  color: inherit;
  border-radius: 5px;
}

.input-group input {
  outline: none;
  background: none;
  border: 1px solid #2E3852;
  font-size: 1em;
  padding: .5em;
  color: inherit;
  border-radius: 5px;
}

.input-group input:focus {
  border-color: #596da0;
}

.btn {
  color: white;
  background-color: #1762A7;
  padding: .75rem 1.5rem;
  border-radius: .5rem;
  text-decoration: none;
  font-size: .9rem;
  outline: none;
  border: none;
  cursor: pointer;
}

.join-page-circle-1 {
  position: absolute;
  overflow: hidden;
  width: 35vw;
  height: 35vw;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.join-page-circle-1::before {
  content: '';
  transform: translateX(-20%);
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: rgb(188, 58, 128, .1);
}

.join-page-circle-2 {
  position: absolute;
  overflow: hidden;
  width: 30vw;
  height: 30vw;
  top: 0;
  left: 20vw;
  z-index: -1;
}

.join-page-circle-2::before {
  content: '';
  transform: translateY(-30%);
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: rgb(52, 87, 178, .1);
}
@media (max-width: 640px) {
  .join-main-section {
    flex-direction: column;
    justify-content: center;
  }

  .join-form {
    padding: 1rem;
    max-width: inherit;
    margin: 2rem 0;
  }
}